extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote o Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum orci nunc, lacinia id metus nec, accumsan vehicula risus. Aenean ac fermentum nulla. Nunc cursus, massa id bibendum ultricies, augue lacus dapibus nisl, at condimentum ex neque quis urna. Praesent sed ultricies ante, ut tincidunt nibh. Nullam posuere, diam malesuada mollis pretium, ipsum ligula rhoncus urna, at dapibus neque massa a

                p Etiam quis ligula neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse sed euismod ipsum. Praesent sed tristique purus. Cras nisl velit, accumsan vel nibh ac, rhoncus convallis nunc. Donec id libero at magna consequat posuere eget eget sem. Aenean eget mattis tortor. Pellentesque sagittis in nisi eu malesuada. Donec in dapibus nulla. Sed efficitur lacinia molestie. Quisque feugiat elit ligula, eu congue neque venenatis vel. Nullam lobortis, metus id imperdiet dictum, nulla metus ullamcorper erat, a maximus 

                p Fusce mollis purus id quam faucibus, sed egestas metus suscipit. Curabitur ultrices posuere mi at dapibus. Sed sapien risus, rhoncus eget nunc at, auctor venenatis enim. Praesent commodo sit amet nunc et auctor. Ut sed lacus velit. Suspendisse potenti. Pellentesque eleifend
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p suscipit. Curabitur ultrices posuere mi at dapibus. Sed sapien risus, rhoncus eget nunc at, auctor venenatis enim. Praesent commodo sit amet nunc et auctor. Ut sed lacus velit. Suspendisse potenti. Pellentesque eleifend
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p suscipit. Curabitur ultrices posuere mi at dapibus. Sed sapien risus, rhoncus eget nunc at, auctor venenatis enim. Praesent commodo sit amet nunc et auctor. Ut sed lacus velit. Suspendisse potenti. Pellentesque eleifend    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p suscipit. Curabitur ultrices posuere mi at dapibus. Sed sapien risus, rhoncus eget nunc at, auctor venenatis enim. Praesent commodo sit amet nunc et auctor. Ut sed lacus velit. Suspendisse potenti. Pellentesque eleifend  